# Secrets
serviceAccountKey.json
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
env/
.venv/

# Streamlit cache
.streamlit/

# Jupyter/Colab notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
